@charset "UTF-8";



.hero{
    height: 300px;
    width: 500px;
    background-color:  #FF6F61;
    margin-left: 425px;
    margin-top: 125px;
}


.sign-in{
    display: flex;
    justify-content: space-between;
}

.about-us{
    color: #333333;
    height: 200px;
    width: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.login input{
    margin-bottom: 10px;
    margin-right: 10px; 
    padding: 5px;
}

.pass{
    margin-top: 20px;
    margin-bottom: 20px;
}

