@charset "UTF-8";
 
.nav-bar{
    height: 80px;
    width: 100%;
    background-color: wheat;
    border: 2px solid ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.company-name{
    margin-top: 0px;
    margin-bottom: 10px;
    size: 1.5em;
    color: #febd68;
}
.navigation-links{
    margin-bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.navigation-links li{
    margin: 10px 40px;
}
.navigation-links a{
    color: blueviolet;
    text-decoration: none;
}

.head{
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 100px;
}
.div-top{
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

input[type="text"] {
    width: 300px;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
}
input[type="number"]{
    width: 300px;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    border-radius: 10px;
}

.div-bottom{
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

select{
    height: 40px;
    width: 300px;
    font-size: 16px;
    border-radius: 10px;
}

.submit{
     height: 75px;
     width: 100%;
     box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit button {
    width: 100%; 
    height: 50px; 
    border-radius: 10px;
    
}

.submit button:hover{
    cursor:pointer;
    background-color: #febd68;
    
}